In [4]:
import pandas as pd
fpath = "data/pd-animals.tsv"
df = pd.read_csv(fpath, sep='\t')
df

            name     type  avg_weight
0          tiger   mammal         260
1          hippo   mammal        3400
2  komodo dragon  reptile         150

In [2]:
df.to_json()

'{"name":{"0":"tiger","1":"hippo","2":"komodo dragon"},"type":{"0":"mammal","1":"mammal","2":"reptile"},"avg_weight":{"0":260,"1":3400,"2":150}}'

In [3]:
maxWeight = df['avg_weight'].max()
maxWeight

3400